# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# environment and virtualenv
env
.env
venv
.venv

# other
.DS_Store

# javascript
node_modules/
package-lock.json
